<div class="auth-bg">
  <div class="auth-container">
    <div class="left">
      <div class="left-inner-container">
        <div class="left-head">
          <div class="left-card"><a href="/">
              <span style="font-weight: 600;">INDOMINUS</span><br />NETWORK</a>
          </div>
          <hr class="left-hr" />
          <div class="left-title">
            <p class="sm-title">We are</p>
            <h2 class="main-title">Invite only right now.</h2>
            <p class="subtitle">10 Million+ people have joined our network.<br
              />We invite you to join the trible</p>
          </div>
        </div>
        <div class="left-foot">
          <p>Already have an account?</p>
          <a href="/auth">Sign in</a>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="right-inner-container">
        <form method="POST" action="/auth/confirmCode">
          <h4>Confirm email</h4>
          <label class="label" for="code">Code</label>
          <input
            id="code"
            type="Text"
            class="validate"
            name="code"
            placeholder="Enter code"
            required="required"
          />

          <span
            class="helper-text"
            data-error="This field cannot be left blank"
            data-success=""
          ></span>
          <div class="col s10 m10 push-l1" style="">
            {{#if error}}
              <div class="isa_error message-info">
                <i class="fa fa-times-circle"></i>
                <span>{{error}}</span>
              </div>
              {{!-- {{else}}
              <div class="isa_info message-info">
                <i class="fa fa-check"></i>
                <span>{{message}}</span>
              </div> --}}
            {{/if}}
          </div>
          <button class="btn-active btn-login" type="submit">Verify
          </button>
        </form>
      </div>
    </div>
  </div>
</div>