<script
  src="https://www.google.com/recaptcha/api.js?hl=en"
  async
  defer
></script>
<div class="auth-bg">
  <div class="auth-container">
    <div class="left">
      <div class="left-inner-container">
        <div class="left-head">
          <div class="left-card">
            <span style="font-weight: 600;">INDOMINUS</span><br />NETWORK
          </div>
          <hr class="left-hr" />
          <div class="left-title">
            <p class="sm-title">Hi there</p>
            <h2 class="main-title">Welcome to the Indominus.</h2>
            <p class="subtitle">10 Million+ people have joined our network.<br
              />We invite you to join the trible</p>
          </div>
        </div>
        <div class="left-foot">
          <p>Not registered yet?</p>
          <a href="/auth/signup_email">Create an Account</a>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="right-inner-container">
        <form method="POST" action="/auth/user_Login">
          <h4>Sign in</h4>
          <label class="label" for="username">Username</label>
          <input
            id="user"
            type="text"
            class="validate"
            name="username"
            value="{{Email}}"
            placeholder="Enter your username"
            required
          />
          <span
            class="helper-text"
            data-error="This field cannot be left blank"
            data-success=""
          ></span>
          <label class="label" for="password">Password</label>
          <input
            id="password"
            type="password"
            class="validate"
            name="password"
            required
            minlength="3"
            placeholder="Enter password"
          />
          <span
            class="helper-text"
            data-error="Password minimum 3 characters"
            data-success=""
          ></span>
          <div
            class="g-recaptcha"
            data-sitekey="6LcaRC0cAAAAAGZJCCINa2WiMLhJ8P1EfJ8O4SPs"
          ></div>
          <div class="col s10 m10 push-l1" style="">
            {{#if error_message}}
              <div class="noti-login">
                <div class="isa_error message-info" style="">
                  <i class="fa fa-times-circle"></i>
                  <span>{{error_message}}</span>
                </div>
              </div>
            {{/if}}
            {{!-- {{#if message}}
              <div class="noti-login">
                <div class="isa_info message-info" style="">
                  <i class="fa fa-check"></i>
                  <span>{{message}}</span>
                </div>
              </div>
            {{/if}} --}}
          </div>
          <button class="btn-active btn-login" type="submit">Sign in
          </button>
        </form>
      </div>
    </div>
  </div>
</div>