<div class="auth-bg">
  <div class="auth-container">
    <div class="left">
      <div class="left-inner-container">
        <div class="left-head">
          <div class="left-card"><a href="/">
              <span style="font-weight: 600;">INDOMINUS</span><br />NETWORK</a>
          </div>
          <hr class="left-hr" />
          <div class="left-title">
            <p class="sm-title">We are</p>
            <h2 class="main-title">Invite only right now.</h2>
            <p class="subtitle">10 Million+ people have joined our network.<br
              />We invite you to join the trible</p>
          </div>
        </div>
        <div class="left-foot">
          <p>Already have an account?</p>
          <a href="/auth">Sign in</a>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="right-inner-container">
        <form action="/auth/register" method="POST">
          <h4>Register</h4>
          <label class="label" for="username">Username*</label>
          <input
            id="last_name"
            type="text"
            class="validate"
            name="username"
            required
          />
          <span
            class="helper-text"
            data-error="This field cannot be left blank"
            data-success=""
          ></span>

          <label class="label" for="username">Password*</label>
          <input
            id="password"
            type="password"
            class="validate"
            name="password"
            minlength="6"
            required
          />
          <span
            class="helper-text"
            data-error="Password minimum 6 characters"
            data-success=""
          ></span>

          <label class="label" for="confirm_password">Confirm Password*</label>
          <input
            id="confirm_password"
            type="password"
            class="validate"
            required
          />
          <span
            class="helper-text"
            data-error="Password doesn't match"
            data-success=""
          ></span>
          <button class="btn-active btn-login" type="submit">Sign up
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{{! 
<div class="auth_container">
  <div class="container">

    <div class="row">
      <div
        class="col s12 m6 push-l6 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8 inside_auth"
      >
        <form class="col s12" action="/auth/register" method="POST">
          <h4 class="center"> Register</h4>
          <div class="row">
            <div class="input-field col s10 m10 push-l1">
              <i class="material-icons prefix">assignment_ind</i>
              <input
                id="last_name"
                type="text"
                class="validate"
                name="username"
                required="required"
              />
              <label for="last_name">User Name *</label>
              <span
                class="helper-text"
                data-error="This field cannot be left blank"
                data-success=""
              ></span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s10 m10 push-l1">
              <i class="material-icons prefix">account_circle</i>
              <input
                id="password"
                type="password"
                class="validate"
                name="password"
                required="required"
                minlength="6"
              />
              <label for="password">Password*</label>
              <span
                class="helper-text"
                data-error="Password minimum 6 characters"
                data-success=""
              ></span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s10 m10 push-l1">
              <i class="material-icons prefix">check_circle</i>
              <input
                id="confirm_password"
                type="password"
                class="validate"
                required="required"
              />
              <label for="confirm_password">Confirm Password *</label>
              <span
                class="helper-text"
                data-error="Passwords don't match"
                data-success=""
              ></span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s10 m10 push-l1 mr-bottom">
              <button
                class="btn waves-effect waves-light btn_login"
                type="submit"
              >Signup
                <i class="material-icons right">send</i>
              </button>
            </div>
            <div class="input-field col s12 center">
              <h10>Are you have Account ? </h10>
              <a class="text-purple" href="/auth">Login</a>
            </div>
          </div>
        </form>

      </div> }}
<script>
  var password = document.getElementById("password") var confirm_password =
  document.getElementById("confirm_password"); function validatePassword(){
  if(password.value != confirm_password.value) {
  confirm_password.setCustomValidity("Passwords don't match"); } else {
  confirm_password.setCustomValidity(''); } } password.onchange =
  validatePassword; confirm_password.onkeyup = validatePassword;
</script>
{{! </div>
  </div>

</div> }}