body {
  overflow-x: hidden;
  /* Hide scrollbars */
}

@media screen and (max-width: 670px) {
  header {
    min-height: 500px;
  }
}

/* --------------- admin ------------- */

.main {
  margin: 50px 0;
}

.section {
  padding: 60px 0;
}

.content-nav {
  line-height: 30px;
}

.content-container {
  margin-top: 150px;
}

.paper_container {
  background-color: #fff;
  padding: 10px 20px 30px 20px;
  overflow: hidden;
}

.btn-home {
  border-radius: 30px;
  border: 1px solid #f57f17;
}

.img-tab {
  border-radius: 30px;
}

.list-img {
  width: 40px;
  height: 40px;
}

.card-image-detail {
  width: 30%;
  height: 20%;
  display: flex;
  margin: auto;
}

.create-container {
  display: flex;
}

.nav-admin {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  height: 50px;
  width: 100%;
  /* background: linear-gradient(to right, #a53394, #f76948); */
  border-bottom: 1px solid rgb(190, 190, 190);
}

.admin_footer {
  background: linear-gradient(to right, #a53394, #f76948);
  height: 50px;
  color: white;
  text-align: center;
  padding: 14px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  bottom: 4px;
}

.icon-while {
  color: white;
}

.footer {
  -ms-transform-origin-y: 22%;
}

.admin-container {
  color: #000 !important;
  background-color: var(--background);
  height: 100%;
}

/* Message Css*/

.message-info {
}

.button-radius {
}

.isa_info,
.isa_success,
.isa_warning,
.isa_error {
  margin: 10px 0px;
  padding: 12px;
}

.isa_info {
  color: #00529b;
  background-color: #bde5f8;
}

.isa_success {
  color: #4f8a10;
  background-color: #dff2bf;
}

.isa_warning {
  color: #9f6000;
  background-color: #feefb3;
}

.isa_error {
  color: #d8000c;
  background-color: #ffd2d2;
}

.isa_info i,
.isa_success i,
.isa_warning i,
.isa_error i {
  margin: 10px 22px;
  font-size: 2em;
  vertical-align: middle;
}

.footer {
  margin-top: 80px;
}

.icon-trash {
  padding-left: 10px;
  font-size: 20px;
}

.block_img {
  margin: 20px 0;
}

.title_block {
  margin: 40px 0;
}

/* validation css */

.card_slide {
  min-height: 0;
}

.card {
  /* min-height: 82vh; */
}

.form-group {
  margin: 0 0;
}

.md-form {
  margin: 16px 0;
}

.help-block.error {
  margin-bottom: 5px;
}

.has-error label {
  color: #ff3547 !important;
}

.has-error input.form-control {
  border-bottom-color: #ff3547 !important;
}

nav {
  /* position: fixed; */
}

table {
  margin-bottom: 20px;
  /* margin-top: -30px; */
}

.trash_page {
  font-weight: bold;
}

.active_list {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(170, 172, 175, 0.75);
  border-radius: 0px 30px 30px 0px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.admin_nav {
  transform: translate(-10px, -4px);
}

.tabs {
  background-color: transparent;
}

.admin_main {
  background-color: #f2f4f8;
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
}

.text-purple {
  color: #8e24aa;
}

.mr-top {
  margin-top: -10px;
}

.mr-bottom {
  margin-top: 20px;
}

.Block {
  color: rgb(238, 33, 5);
}

.Activity {
  color: rgb(18, 233, 18);
}

.block {
}

/* css status order */

.Cancel {
  color: red;
}

.Ready {
  color: #00b0ff;
}

.Done {
  color: #73d378;
}

.Delivery {
  color: #e0e020;
}

.flex-block {
  display: flex;
  justify-content: space-between;
}

.mid-img {
}

.Admin {
  display: none;
}

/* ------------------------------------ */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  /* --btn-active: #43489a;
    --btn-inactive: #3c3a3a;
    --border-color: rgba(113, 119, 144, 0.25);
    --primary-color: #e2e4e5;
    --secondary-color: #505157;
    --background: #20212a;
    --secondary-background: #2b2b36;
    --li-btn-active: #3f3f5d;
    --link-active: var(--primary-color);
    --link-inactive: var(--secondary-color);
    --nav-background: #161b22; */
  --btn-active: #000;
  --btn-inactive: #3c3a3a;
  --border-color: rgba(113, 119, 144, 0.25);
  --primary-color: #000;
  --secondary-color: #505157;
  --background: #f0f2f5;
  --secondary-background: #fff;
  --li-btn-active: #f5f5f5;
  --link-active: var(--primary-color);
  --link-inactive: var(--secondary-color);
  --nav-background: #fff;
  --btn-active-secondary: #f5f5f5;
  --color-on-dark-bg: #fff;
  --btn-text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
  -webkit-box-sizing: border-box;
}

html {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  margin: 0;
  padding: 0;
  line-height: 1.2;
  position: relative;
  /* color: var(--primary-color); */
}

.primary-color {
  color: var(--primary-color) !important;
}

.secondary-color {
  color: var(--secondary-color) !important;
}

.container {
  width: 90% !important;
  margin: 0 auto;
}

.container-user {
  width: 100%;
  color: var(--primary-color);
  background-color: var(--background);
}

.btn-inactive {
  background: none !important;
  color: var(--btn-inactive) !important;
  /* border: 1px solid var(--btn-inactive) !important; */
  box-shadow: none !important;
  border-radius: 20px !important;
  text-transform: none !important;
  white-space: nowrap !important;
}

.btn-active {
  background-color: var(--btn-active) !important;
  color: #fff;
  border: none !important;
  white-space: nowrap;
  box-shadow: none !important;
  border-radius: 20px !important;
  text-transform: none !important;
  white-space: nowrap !important;
  display: inline-block;
}

.btn-active-secondary {
  background-color: var(--btn-active-secondary);
}

.btn-comment-function {
  font-size: 10px;
  padding: 0 12px;
}

.material-icons {
  background: none !important;
  color: var(--primary-color);
}

.material-icons-light {
  color: var(--color-on-dark-bg);
}

.material-icons-active {
  color: var(--primary-color);
}

.material-icons-inactive {
  color: var(--secondary-color);
}

/* ---------------------- navbar --------------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
  z-index: 999;
  background: var(--nav-background);
  padding: 0 50px 0 50px;
  height: 50px;
}

.sticky {
  position: fixed;
  margin: 0;
  top: 0;
}

.navbar .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.search-block .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
  height: 100%;
}

.search-block .row .input-field input:-webkit-autofill,
.search-block .row .input-field input:-webkit-autofill:hover,
.search-block .row .input-field input:-webkit-autofill:focus,
.search-block .row .input-field input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--primary-color) !important;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s !important;
  border-bottom: 1px solid var(--border-color);
}

.search-block .row .input-field input:hover,
.search-block .row .input-field input:focus,
.search-block .row .input-field input:active {
  border-bottom: 1px solid var(--border-color);
}

.search-block .row .input-field input {
  border-bottom: 1px solid var(--border-color);
  color: var(--primary-color);
  padding: 0 !important;
  margin: 0;
  font-size: 1rem;
  display: flex;
  width: 500px;
}

@media (max-width: 1000px) {
  .search-block .row .input-field input {
    width: 100%;
  }
}

.search-block .search-btn {
  background: none !important;
  height: 100%;
  box-shadow: none !important;
  /* border: 1px solid #fff; */
  border: none;
  cursor: pointer;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 50px;
}

.navbar .nav-link {
  padding: 0 20px;
  font-weight: 600;
  font-size: 15px;
  box-sizing: border-box !important;
  color: var(--primary-color);
}

.navbar-nav .nav-link:hover {
  color: var(--secondary-color) !important;
  background-color: unset;
  /* font-weight: 800; */
}

.nav-item .is-active {
  background-color: var(--li-btn-active);
}

.navbar .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .right .nav-link {
  padding: 0 15px;
  width: 100%;
}

/* ------------------- HOMEPAGE OLD -------------------------
/* -------------------- main header -------------------- */

/* 
.main-header .container {
  margin-top: 60px;
  height: 700px;
  display: flex;
  align-items: center;
  background: none;
}

.main-header .left {
  padding: 30px;
  margin: 0;
  z-index: 99;
  width: 50%;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.main-header .left:hover {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.main-header .left .title {
  font-size: 4em;
}

.main-header .left p {
  font-size: 18px;
  padding: 0;
  margin-top: 20px;
}

.btns-container {
  margin-top: 20px;
}

.btns-container .btn {
  margin-right: 5px;
}

#main {
  padding-top: 80px;
}

.hidden {
  display: none;
}

.subpage-main .container {
  display: block;
}

.subpage-main .container .title {
  font-size: 2em !important;
  padding: 30px 0;
  margin: 0;
  font-weight: 500;
}
/* ---------------- responsive -------------- */

/* @media only screen and (max-width: 850px) {
  .main-header .left {
    width: 100%;
  }

  .navbar-brand img {
    display: none;
  }
  .navbar .right .nav-link {
    padding: 0 5px;
  }
} */

/* ------------------------- homepage ------------------------ */

.homepage-container {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: space-between;
}

.homepage-container .left {
  flex: 1;
  background: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 50px 40px 50px;
  box-sizing: border-box;
  color: var(--primary-color) !important;
}

.homepage-container .left .top-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homepage-container .left .top-list * {
  padding: 10px;
  margin-left: 40px;
  color: var(--primary-color);
}

.homepage-container .left .top-list :first-child {
  margin-left: 0;
}

.homepage-container .left .top-list .brand {
  width: 120px;
}

.homepage-container .left .main-title {
  font-weight: 600;
  font-size: 5rem;
}

.homepage-container .left .main-title span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--primary-color);
  text-shadow: 8px 8px orange;
}

.homepage-container .left .subtitle {
  display: block;
  width: 60%;
  font-size: 15px;
  opacity: 0.8;
}

.homepage-container .left .btn-login {
  padding: 10px 40px;
  border: 1px solid black;
  margin-top: 20px;
  font-weight: 600;
}

.homepage-container .right {
  background-color: var(--secondary-background);
  flex: 1;
}

.homepage-container .right img {
  width: 100%;
}

/* ---------------------------- login - sign up -------------------------- */

/* --------------------login --------------- */

.auth-bg {
  background-color: var(--secondary-background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth-container {
  display: flex;
  width: 1000px;
  height: 90%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  border-radius: 20px;
  /* box-shadow: rgba(100, 100, 111, 0.5) 0px 10px 29px 0px; */
}

.auth-container .left {
  background-image: url("./../img/Samsung\ Galaxy\ S20\ Ultra\ Wallpaper\ for\ Punch-Hole.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  flex: 1;
  /* padding-top: 100px; */
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  /* box-shadow: rgba(100, 100, 111, 0.5) 0px 10px 29px 0px; */
}

.auth-container .left-inner-container {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.5);
  border-radius: 12px;
  border: none;
  color: var(--color-on-dark-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  width: 80%;
  height: 90%;
  line-height: 1.3;
}

.auth-container .left-inner-container .left-card {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
}

.auth-container .left-inner-container .left-card a {
  color: var(--color-on-dark-bg) !important;
}

.auth-container .left-inner-container .left-hr {
  margin: 20px 0;
  width: 70px;
}

.auth-container .left-inner-container .left-title .sm-title {
  font-weight: 600;
}

.auth-container .left-inner-container .left-title .main-title {
  font-size: 1.8em;
  font-weight: 300;
}

.auth-container .left-inner-container .left-title .subtitle {
  font-size: 13px;
}

.auth-container .left-inner-container .left-foot a {
  color: var(--color-on-dark-bg);
  font-weight: 700;
}

.auth-container .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container .right-inner-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 80%;
  height: 90%;
}

.auth-container .right-inner-container h4 {
  font-weight: 500;
  padding: 15px 0;
  font-size: 3rem;
  color: var(--primary-color);
}

.auth-container .right-inner-container .label {
  font-weight: 600;
  margin-top: 20px !important;
  color: var(--primary-color);
  display: block;
}

.auth-container .right-inner-container input {
  background-color: var(--background);
  border-bottom: 2px solid var(--border-color) !important;
  padding-left: 10px;
  color: var(--primary-color) !important;
}

.auth-container .right-inner-container input:-webkit-autofill,
.auth-container .right-inner-container input:-webkit-autofill:hover,
.auth-container .right-inner-container input:-webkit-autofill:focus,
.auth-container .right-inner-container input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--primary-color) !important;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

.auth-container .right-inner-container span[data-error] {
  color: #262646 !important;
}

.auth-container .right-inner-container .g-recaptcha {
  width: 100%;
  text-align: center;
  margin: 20px;
}

.auth-container .right-inner-container .btn-login {
  padding: 15px;
  display: block;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
}

/* ------------------ shortcuts ------------------- */

.shortcuts .shortcut-link {
  display: block;
  padding: 20px;
}

/* -------------------- user profile ------------------------------- */

.profile-container .personal-info {
  padding: 0 20px 40px 20px;
  width: 100%;
}

.profile-container .personal-info-item {
  padding: 10px;
  background-color: var(--btn-active);
  border-radius: 10px;
  display: inline-block;
  margin: 10px 20px;
  color: var(--color-on-dark-bg);
}

.profile-container .personal-info-item:first-child {
  display: block;
  background-color: var(--secondary-background);
  padding: 20px;
  margin-top: 0;
}

/* ----------------------- sidenav-open -------------------- */

.profile-container {
  display: grid;
  grid: [stack] 1fr / min-content [stack] 1fr;
}

@media (max-width: 850px) {
  .profile-container > :matches(aside, main) {
    grid-area: stack 1fr;
  }
  .profile-container #sidenav-open {
    visibility: hidden;
    display: none;
  }
  .profile-container #sidenav-open .personal-avatar {
    display: none;
  }
  .profile-container #sidenav-open .personal-name {
    display: none;
  }
}

#sidenav-open {
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow: hidden auto;
  overscroll-behavior: contain;
  grid-template-columns: [nav] 2fr [escape] 1fr;
  height: 100vh;
  background: var(--secondary-background);
  padding: 50px;
  padding-top: 70px;
  /* color: var(--primary-color) !important; */
}

#sidenav-open nav {
  background: none !important;
  box-shadow: none !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color) !important;
}

#sidenav-open .row span {
  font-size: 12px;
  /* border: 1px solid #fff; */
  padding: 0 !important;
  font-weight: 600;
  display: inline-block;
}

#sidenav-open .personal-avatar {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

#sidenav-open .personal-name {
  font-weight: 600;
  font-size: 2em;
}

.newsfeed-container #main,
.profile-container #main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  width: 100%;
}
#sidenav-open a:not(.btn-active) {
  color: var(--primary-color);
}

/* --------------------- newsfeed --------------------- */

/* --------------------- post card ----------------- */

.post-add .input-field textarea {
  color: var(--primary-color);
}

.post-add form {
  width: 100%;
}

.post-add .col {
  width: 100%;
}

.post-add .row {
  display: block;
  width: 100%;
}

.post-add .material-icons {
  color: var(--btn-text-color);
}

.post-add .d-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.post-add .d-flex .left {
  margin-right: 10px;
}

.post-add .d-flex .left input {
  width: 0px;
}

.image-holder {
  border-radius: 10px !important;
}

.post-card {
  background: var(--secondary-background);
  color: var(--primary-color);
  border-radius: 10px;
  width: 750px;
  /* height: 750px; */
  max-width: 60%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

@media (max-width: 1000px) {
  .post-card {
    max-width: 80%;
  }
}

.post-card .post-info {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
}

.post-card .post-info-date {
  font-size: 0.7rem;
  font-weight: 300;
  width: 100%;
  margin-top: 10px;
  text-align: left;
}

.post-card .post-info .left {
  display: flex;
  align-items: center;
}

.post-card .post-info .post-info-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.post-card .post-info .post-info-username {
  margin-left: 10px;
}

.post-card .post-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-card .post-content h2 {
  font-size: 2rem;
}

.post-card .post-img {
  padding-bottom: 5px;
}

.post-card .post-img img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-card .post-footer {
  border-top: 1px solid var(--border-color);
  width: 100%;
  padding-top: 10px;
}

.post-card .post-footer .post-reacts {
  font-weight: 600;
  max-width: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.post-card .post-footer .post-reacts img {
  height: 30px;
}

.post-reacts a {
  cursor: pointer;
  /* width: 40%;
    height: 30px;
    background-color: rgb(173, 171, 171); */
}

.detail-react-block {
  display: flex;
}

.detail-react-block p {
  font-size: 20px;
  margin-right: 10px;
}

.detail-react-block img {
  height: 30px;
}

.btn-post-video i {
  margin-top: 4px;
}

.post-reacts a:hover {
  /* background-color: rgb(61, 58, 58); */
  transform: translateY(-10px);
  transition: width 2s, height 2s, transform 0.2s;
}

.post-card .post-footer .post-reacts p {
  margin-left: 20px;
}

.post-card .post-footer .post-comments-container {
  margin-top: 10px;
  border: 1px solid var(--border-color);
  padding: 20px;
  background-color: var(--background);
}

.post-card .post-footer .post-comments-container .post-comment {
  margin-bottom: 10px;
}

.post-card .post-footer .post-comments-container .post-comment-reply {
  margin: 10px 30px 0px;
  font-size: 13px;
}

.post-card .post-footer .post-comments-container .post-comment-username {
  font-weight: 600;
}

.post-card .post-input-form {
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.post-card .post-input-form .input-field {
  flex: 1;
}

.post-card .post-input-form button {
  padding: 5px 20px;
  border-radius: 0 !important;
}

.post-card .post-input-form .input-field input:-webkit-autofill,
.post-card .post-input-form .input-field input:-webkit-autofill:hover,
.post-card .post-input-form .input-field input:-webkit-autofill:focus,
.post-card .post-input-form .input-field input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--primary-color) !important;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

.post-card .post-input-form .input-field input {
  color: var(--primary-color);
}

.post-input-newsfeed {
  color: white;
}

.detai-post-container {
  margin-top: 100px;
  margin-right: 2%;
}

/* ------------------------ inbox ----------------------- */

.inbox-container {
  display: grid;
  grid: [stack] 1fr / min-content [stack] 1fr;
}

.inbox-container #sidenav-open {
  justify-content: flex-start;
  padding: 30px 70px;
}

#sidenav-open .sidenav-title {
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
}

.inbox-container #sidenav-open .sidenav-section h3 {
  font-size: 0.8em;
  word-wrap: normal;
  display: block;
  width: 100%;
  font-weight: 600;
  opacity: 0.5;
}

.chat-main {
  padding: 0 !important;
}

.container-chat {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  position: relative;
}

#close-boxchat {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--btn-active);
}

#chat-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  max-height: 90vh;
  padding: 50px 20px;
  padding-bottom: 3rem;
}

#chat-content-group {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  max-height: 90vh;
  padding: 50px 20px;
  padding-bottom: 3rem;
}

.message {
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  background-color: var(--secondary-color);
  padding: 0.25rem;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: var(--color-on-dark-bg);
}

#message-inbox-group {
  padding: 1rem;
  flex-grow: 1;
  color: var(--color-on-dark-bg);
  width: 80%;
  border: none;
}

#message-inbox-private {
  padding: 1rem;
  flex-grow: 1;
  color: var(--color-on-dark-bg);
  width: 80%;
  border: none;
}

#emoji-btn,
#send-message {
  background: none;
  box-shadow: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#emoji-btn-group,
#send-message-group {
  background: none;
  box-shadow: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ib css  */

.image-infor-focus {
  height: 70px;
  width: 50px;
}

.message-container {
  text-align: right;
  /* background-color: var(--secondary-color); */
}

.message-container h1 {
  font-size: 1rem;
  padding: 10px;
  background-color: var(--secondary-color);
  display: inline-block;
  border-radius: 10px;
  color: var(--color-on-dark-bg);
  margin: 0 auto;
  margin-top: 15px;
}

.message-container-receive h1 {
  font-size: 1rem;
  padding: 10px;
  background-color: var(--secondary-color);
  display: inline-block;
  border-radius: 10px;
  color: var(--color-on-dark-bg);
  margin: 0 auto;
  margin-top: 15px;
}

.text-message {
  color: var(--primary-color);
  display: inline-block;
  background-color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0;
  margin-top: 15px;
  max-width: 200px;
  word-wrap: break-word;
}

.nameUser {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 0.8rem;
}

#notification-focus {
  text-align: justify;
  text-align-last: justify;
  display: block;
  position: absolute;
  bottom: 0;
}

.image-emotion {
  cursor: pointer;
}

.image-infor-focus {
  width: 70px;
  height: 50px;
}

/*  */

.image-emotion-react-post {
  height: 50px;
}

/* ------------------inbox - dot flashing --------------- */

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
  margin-left: 20px;
  display: inline-block;
}

.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}

/* ------------------ user - account settings ------------------ */

.account-settings-page .container {
  background-color: #fff !important;
  display: block;
  border-radius: 18px;
  padding-bottom: 100px;
  width: 1100px !important;
}

.account-settings-page .container .title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: 1.5em;
  letter-spacing: 0.1;
  color: var(--primary-color);
}

.account-settings-page .container-user {
  padding-top: 50px;
  padding-bottom: 100px;
}

.account-settings-page .container-user .title {
  text-align: center;
  font-weight: 600;
}

.main-account-settings-container .d-flex {
  display: flex;
  padding: 0 50px;
  flex-direction: row;
}

.main-account-settings-container .left {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  height: 100%;
  flex: 2;
}

.main-account-settings-container .left .user-pf-img {
  display: block;
  text-align: center;
  margin-top: 20px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.main-account-settings-container .left .user-pf-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.main-account-settings-container .left .first-child {
  margin-top: 20px;
}

.main-account-settings-container .left a {
  padding: 20px !important;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 0.9em;
}

.main-account-settings-container .left .is-active {
  background-color: var(--btn-active);
}

.main-account-settings-container .right {
  flex: 8;
  width: 100%;
  padding: 0 50px;
}

.main-account-settings-container .right .row {
  margin-top: 40px;
}

.main-account-settings-container .right .row:first-child {
  margin-top: 20px;
}

.main-account-settings-container .right .row .lbl-notation {
  display: flex;
  justify-content: space-between;
}

.main-account-settings-container .right .row .lbl-notation span {
  font-size: 0.8em;
  font-weight: 600;
  color: var(--primary-color);
}

.main-account-settings-container .right .row .lbl-notation .notation {
  opacity: 0.5;
}

.main-account-settings-container .right .row input {
  border: 1px solid var(--border-color);
  border-radius: 9999px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1em;
  color: var(--primary-color);
}

/* ------------------------- footer -------------------------- */

.page-footer {
  padding: 0;
  padding-top: 150px !important;
  position: relative;
  display: block;
  background-color: var(--background) !important;
}

.page-footer > .container {
  border-top: 1px solid var(--border-color) !important;
  padding-top: 30px;
  background-color: var(--background) !important;
}

.page-footer .container {
  color: #866868;
}

.page-footer .container .footer-title {
  color: var(--primary-color);
  font-weight: 500;
}

.page-footer > .container ul a {
  color: var(--secondary-color);
  font-size: 0.8em;
  line-height: 1.2;
}

/* ----------------------- friends ----------------------- */

.friends-container {
  margin-top: 50px;
}

.friends-container .tabs .tab {
  font-weight: 600;
}

.friends-container .tabs .tab a {
  color: var(--primary-color);
}

.friends-container .tabs .tab a:focus {
  background-color: var(--li-btn-active);
  border-bottom: 2px solid var(--btn-active);
}

.friends-container .tabs .tab .active {
  background-color: var(--li-btn-active);
}

.friends-container .collection-member-chat {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friends-container .collection-member-chat .left {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.friends-container .collection-member-chat .left img {
  width: 50px;
}

/* -------------- search page --------------- */

.search-right .mid-home {
  padding-top: 50px;
}

.search-container {
  padding-top: 20px;
}

.search-item {
  background: none !important;
  display: flex;
  justify-content: space-between;
  border-bottom: none;
  align-items: center;
}

.search-item .left {
  display: flex;
  align-items: center;
}

.search-item .left img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

/* ------------------------- others ----------------------- */

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  box-shadow: inset 0 0 5px grey;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* chat member */

.collection-member-chat {
  display: flex;
  width: 100px;
  cursor: pointer;
}

.collection-member-chat img {
  height: 10%;
  width: 50%;
  margin: 10px 10px 0px 0px;
}

.collection-member-chat p {
}

.collection-member-chat-group {
  display: flex;
  width: 100px;
  cursor: pointer;
}

.collection-member-chat-group img {
  height: 10%;
  width: 50%;
  margin: 10px 10px 0px 0px;
}

/*  img display posts*/

#image-holder {
}

.thumb-image {
  max-width: 400px;
  max-height: 1000px;
}

/* react css */

.react-heart {
  color: rgb(247, 65, 65);
}
