
  <footer class="admin_footer z-depth-4">
    <div class="">
      <div class="row">
        <div class="col s6 ">
          <h7>© 2021 All rights reserved.</h7>
        </div>
        <div class="col s6  ">
          <h7>Designed and Developed by Team 9 DTU</h7>
        </div>
  </footer>