<header>
  <div class="nav-admin z-depth-1">
    <a
      href="#"
      data-target="slide-out"
      class="sidenav-trigger btn-floating pulse"
    >
      <i class="material-icons">menu</i>
    </a>
  </div>
  <ul id="slide-out" class="sidenav">
    <li>
      <div class="user-view">
        <div class="background">
          <img
            src="https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1015&q=80"
          />
        </div>
        <a href="#user"><img
            class="circle"
            src="https://bigpicturelabs.io/img/team/1.jpg"
          /></a>
        {{!-- <a href="#name"><span class="white-text name">{{userName}}</span></a> --}}
        {{!-- <a href="#email"><span class="white-text email">{{email}}</span></a> --}}
      </div>
    </li>
    <div class="admin_nav">

      <li><a href="/admin"><i class="material-icons">person</i>Account
          management</a></li>
      <li><a href="/auth/logout"><i
            class="material-icons"
          >assignment_return</i>Logout</a></li>
    </div>
  </ul>
</header>
<script>
  $(document).ready(function(){ var path = window.location.href $('.admin_nav li
  a').each(function(){ if (this.href === path) {
  $(this).parent('li').addClass('active') } else {
  $(this).parent('li').removeClass('active') } }) })
</script>