<div class="shortcuts push-l2">
    <div class="container">
          <ul class="collapsible">
     <h4>SHORTCUTS</h4>
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Friends</div>
      <div class="collapsible-body"><span>Friends</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Inbox</div>
      <div class="collapsible-body"><span>Inbox</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Notifications</div>
      <div class="collapsible-body"><span>Notifications</span></div>
    </li>
     <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Notifications</div>
      <div class="collapsible-body"><span>Profile</span></div>
    </li>
  </ul>
</div>
    </div>
