<div class="shortcuts">
  <a class="shortcut-link" href="#">
    <span class="material-icons">people</span>
  </a>
  <a class="shortcut-link" href="/inbox">
    <span class="material-icons">chat</span>
  </a>
  <a class="shortcut-link" href="#">
    <span class="material-icons">notifications</span>
  </a>
  {{! <div class="container">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i
            class="material-icons"
          >people</i>Friends</div>
        <div class="collapsible-body"><span>Friends</span></div>
      </li>
      <li>
        <a class="collapsible-header" href="/inbox"><i
            class="material-icons"
          >chat</i>Chatting</a>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons"><span
              class="material-icons-outlined"
            >
              notifications
            </span></i>Notifications</div>
        <div class="collapsible-body"><span>Profile</span></div>
      </li>
    </ul>
  </div> }}
</div>