<aside id="sidenav-open">
  <nav>
    <div>
      <img
        class="personal-avatar"
        src="../img/stars.jpg"
        alt=""
        width="250px"
      />
    </div>
    <div class="personal-name">
      <a href="/profile">@{{account.username}}</a>
    </div>
    <div class="row">
      <a class="btn btn-active" href="/profile/editPage">Edit Profile</a>
    </div>
    <div class="row">
      <span> 1 Post </span>
      -
      <span> 2 Followers </span>
      -
      <span>2 Following</span>
    </div>
    <div class="row" style="font-size: 12px; color: var(--secondary-color);">
      &copy; Copyright by Team 1 DTU
    </div>
  </nav>
</aside>
{{! <a class="shortcut-link" href="#">
    <span class="material-icons">people</span>
  </a>
  <a class="shortcut-link" href="/inbox">
    <span class="material-icons">chat</span>
  </a>
  <a class="shortcut-link" href="#">
    <span class="material-icons">notifications</span>
  </a> }}
{{! <div class="container">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i
            class="material-icons"
          >people</i>Friends</div>
        <div class="collapsible-body"><span>Friends</span></div>
      </li>
      <li>
        <a class="collapsible-header" href="/inbox"><i
            class="material-icons"
          >chat</i>Chatting</a>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons"><span
              class="material-icons-outlined"
            >
              notifications
            </span></i>Notifications</div>
        <div class="collapsible-body"><span>Profile</span></div>
      </li>
    </ul>
  </div> }}