<div class="homepage">
  <div class="glassmorphism">
    <div class="container">
      <header class="main-header" id="main-header">
        <a class="brand link active">
        <img class="logo"></img>
        Neonseum
        </a>
      </header>
      <main class="homepage-main">
        <div class="content">
          <div class="left">
            <h1 id="title">Feel Magical Neon Museum Experience</h1>
            <p class="subtitle">We are the first neon museum in the world</p>
              <div class="sub-2">
                <a href="/auth">
                    Login
                </a>
                <a class="link learn-more">Learn more</a>
              </div>
              <div class="buttons socials">
                <a class="button btn-instagram link">
                    <img class="icon" src="" alt="" />
                </a>
                <a class="button btn-twitter link">
                    <img class="icon" src="" alt="" />
                </a>
                <a class="button btn-youtube link">
                    <img class="icon" src="" alt="" />
                </a>
              </div>
          </div>
          <div class="right">
              <img src="./uploads/processor.png" alt="" srcset="" width="100%" />
          </div>
        </div>
      </main>
    </div>
  </div>
</div>