<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/css/app.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/655396e8e6.js"
      crossorigin="anonymous"
    ></script>

    <title>Medical Equipment Supply</title>
    <link rel="stylesheet" />
  </head>
  <body>
    <div class="home">
      <div class="content">
        <h3>Talk to the world</h3>
        <!-- <p>chúng tôi làm việc chăm chỉ để đảm bảo bạn có cơ hội tốt nhất để trao đổi và kết bạn với những người mới</p> -->
        <a href="#" class="btn">sign up</a>
        <a href="/auth" class="btn">Login</a>
      </div>
    </div>
    <main id="main " class="subpage-main">
      <div class="container">
        <!--  -->
        <section class="review" id="review">
          <h1 class="heading">
            <span>r</span>
            <span>e</span>
            <span>v</span>
            <span>i</span>
            <span>e</span>
            <span>w</span>
          </h1>

          <div class="swiper-container review-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="box">
                  <img src="../uploads/g-dragon _ avatar.jfif" alt="" />
                  <h3>Nhan Dang</h3>
                  <p>
                    When I returned to my hometown, I felt lonely and lost
                    because most of my friends started having romantic
                    relationships while I was abroad. We both decided to
                    download Tinder and see what happens.
                  </p>
                  <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="box">
                  <img src="../uploads/g-dragon _ avatar.jfif" alt="" />
                  <h3>Luc Ha</h3>
                  <p>
                    If it weren't for this app, we might as well never have had
                    the opportunity to meet and start a working but also awesome
                    fireplace. Thank you for giving us, I also have many
                    different couples around the world. I will forever be
                    grateful for that.
                  </p>
                  <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="box">
                  <img src="../uploads/g-dragon _ avatar.jfif" alt="" />
                  <h3>Phong Dinh</h3>
                  <p>
                    After a few months of dating our relationship took a turn
                    and we decided to stop playing cat and mouse. I was in love
                    with that person but I was afraid that this love story would
                    not go anywhere. Yet 9 months later we became glued
                    together.
                  </p>
                  <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>