
<<<<<<< HEAD
    <script src ="../../../public/script/inbox.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script src = "./script/inbox.js">
 </script>
 <style>
   .collection-item{
     cursor: pointer;
   }
 </style>
  {{>header}}

  <div class="container-user">
    <div class="row">
      <div class="col m12">
         <div class="mid-home ">
      <div class="row">
    <div class="col s6 m12">
      <div class="card center">
        <div class="card-content">
          <div class="row">
               <div class="row">
                <div class="col s3">
                   <ul class="collection with-header">
                        <li class="collection-header">
                          <h4>Friends</h4>
                          </li>
                          {{#each follower}}
                        <li  class="collection-item">{{this.follower_username}}</li>
                          {{/each}}
                    </ul>
                </div>
                <div class="input-field col s8 container-chat" >
                   <p id="username" hidden>{{account}}</p>
                       <button type="submit"  id="close-boxchat" class="waves-effect waves-light btn-small right">Close</button>
                    <div class="card chatbox" style="">
                        {{!-- <h1>Chat Box</h1> --}}
                          <div id="chat-content" class="left"> 
                                <p id="notification-focus">       
                              </p>        
                          </div>
                    
                          
                    </div>
                    <div class="message">
                       {{!-- <label for="textarea1">Message</label> --}}
                      <textarea placeholder="message" id="message-inbox" class="materialize-textarea"></textarea> 
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Icon</a>
                      <button id="send-message" class="waves-effect waves-light btn-small right">Send</button>
                    </div>
                 </div>
                </div>
           
          </div>
        </div>
=======
<script src ="../../../public/script/inbox.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src = "./script/inbox.js"></script>
<style>
  .collection-item{
    cursor: pointer;
  }
</style>
{{>header}}
<div class="container-user inbox-container">
  <aside id="sidenav-open">
    <nav>
      <h2 class="sidenav-title">Chat room</h2>
      <div class="sidenav-section">
        <h3>DIRECT MESSAGES</h3>
        <ul>
          {{#each follower}}
            <li  class="collection-item">{{this.follower_username}}</li>
          {{/each}}
        </ul>
>>>>>>> cb6bc85a18dd323d5220a81f1c1a1ec14dd29d04
      </div>
      <div class="sidenav-section">
        <h3>CHANNELS</h3>
      </div>
      
    </nav>
  </aside>
  <main class="chat-main" id="main">
    <div class="container-chat">
      <p id="username" hidden>{{account}}</p>
      <button type="submit"  id="close-boxchat" class="waves-effect waves-light btn-small right">Close</button>
      <div class="card chatbox" style="">
        <div id="chat-content" class="left"> 
          <p id="notification-focus"></p>        
        </div>
      </div>
      <div class="message">
        <textarea placeholder="message" id="message-inbox" class="materialize-textarea-" required></textarea> 
          <a id="emoji-btn" class="waves-effect waves-light btn modal-trigger" href="#modal1"><span class="material-icons">emoji_emotions</span></a>
        <button id="send-message" class="waves-effect waves-light btn btn-small"><span class="material-icons">send</span></button>
      </div>
    </div>
  </main>
</div>  
  
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Emoticon</h4>
    <img class='image-emotion' src='../emoticon/angry-face-with-horns_1f47f.png' >"
          <img class='image-emotion modal-close'  src='../emoticon/face-holding-back-tears_1f979.png' >"
          <img class='image-emotion modal-close' src='../emoticon/smiling-face-with-heart-eyes_1f60d.png' >"
        <img class='image-emotion modal-close' src='../emoticon/hot-face_1f975.png' >"
    </div>
  <div class="modal-footer">\
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>

 

    
  